
* {
    box-sizing: border-box;
}


:root {

    --h1-color: black;
    --h2-color: black;
    --pcolor:#2d2d2d;
    --background-color:#d7d7d7;
    --section-color: antiquewhite;
    --stroke-color: black;
    --stroke-color-h1: transparent;
}

@media (prefers-color-scheme: dark){
    :root{
        --h1-color: white;
        --h2-color: white;
        --pcolor:white;
        --background-color:#424242;
        --section-color: black;
        --stroke-color: white;
        --stroke-color-h1: white;
    }
}


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


img {
    max-width: 100%;
}

h1 {
    font-weight: 700;
    text-align: center;
    color: var(--h1-color);
    font-size: 8vw;
    -webkit-text-stroke: 0.2px var(--stroke-color-h1);
    
    
    @supports (background-clip:text) or (-webkit-background-clip:text) {
      color: transparent;
      -webkit-background-clip: text;
      background-image: url(https://media1.tenor.com/m/-8jBbL3jwAEAAAAd/suriname-flag-gif.gif);
      background-size: 10% auto;
      background-position: center;
    }
  }


h1, h2 {
    font-family: "Archivo Black", sans-serif;
}

h2{
    font-size: 1.4em;
    color: var(--h2-color);
}

p {
    color: var(--pcolor);
}

h3 {
    color: var(--pcolor);
}

main{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    background-color: var(--background-color);
}

main section:nth-of-type(1) {
    text-align: center;
}

main svg{
    width: 50%;
    height: auto;
    fill: grey;
    * {
        transform-box: fill-box;
        transform-origin: center;
    }
}

.hover-district {
    transition: 1s;
}

.hover-district:hover {
    fill: var(--hover-color);
    transform: scale(1.15);
}

.onClickhover-district {
    fill: var(--hover-color);
    stroke: var(--stroke-color);
    stroke-width: 3px;
    /* transform: scale(1.15); */
}

main section:nth-of-type(1) path:hover{
    stroke: var(--stroke-color);
    stroke-width: 5px;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--section-color);
    border-radius: 1em;
    margin-top: 2em;
    padding: 1em 1em;
}

.info-img {
    width: 15em;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(2) ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 1em;
}

main section:nth-of-type(2) ul img{
    width: 10em;
    height: 10em;
    border-radius: 0.3em;
    object-fit: cover; /* Belangrijkste eigenschap: vult de box */
    object-position: center; /* Zorgt dat het midden van de afbeelding wordt getoond */
}

main section:nth-of-type(2) ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====== Tablet ====== */
@media (min-width: 768px) {
  body {
    /* tablet styles */
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main svg{
    width: 100%;
  }

  h1 {
    font-size: 5vw;
  }

  main section:nth-of-type(2) {
    margin: 1em;

  }
}


/* ====== Desktop ====== */
@media (min-width: 1024px) {
  body {
    /* desktop styles */
  }
}


/* ====== Grote desktop  ====== */
@media (min-width: 1440px) {
  body {
    /* large desktop styles */
  }
}
