



main{
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(1) {
    text-align: center;
}

main section h1{
    text-align: center;
    font-size: 8vw;
}

main svg{
    width: 50%;
    height: auto;
    fill: grey;
    * {
        transform-box: fill-box;
        transform-origin: center;
    }
}

.hover-district {
    transition: 1s;
}

.hover-district:hover {
    fill: var(--hover-color);
    transform: scale(1.15);
}

.onClickhover-district {
    fill: var(--hover-color);
    transform: scale(1.15);
}

main section:nth-of-type(1) path:hover{
    stroke: black;
    stroke-width: 5px;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: antiquewhite;
    border-radius: 1em;
    margin-top: 2em;
    padding: 1em 1em;
}

.info-img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
}

main section:nth-of-type(2) h2 {
}